.text{
    font-size:13pt;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    color: black;
    text-decoration:none;
}
.text:hover{
    color: #C02D2D;
    text-decoration-line: underline;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size:13pt;
    margin-left: -13px;
}
li{
    list-style-image: url(car_vector.jpg);
}
table{
    width:235px;
    background-color: #F5F5F5;
    height:100%;
}
